body{
    margin: 0;
    padding: 0;
    color: #483B27;
    
}
ul li{
    display: inline;
    padding: 0rem 1rem;
    transition-property: all;
    transition-duration: 100ms;
}
ul li > i:hover{
    color: #D5AC5B;
    font-size: 2rem;
    margin-top: -6px;
}

nav{
   position: fixed;
   top: 0;
   left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition-property: all;
    transition-duration: 100ms;
    background-color: transparent;
    
}

.navenlacea{
    transition-property: all;
    transition-duration: 100ms;   
}

nav > img {
    margin-left: 2rem;
}
nav > ul > li >a{
    text-decoration: none;
    color: black;
}

.selected{
    color: #D5AC5B;
    font-size: 1.3rem;
}
footer{
    width: 100%;
    height: 300px;
    background:linear-gradient(to right, #333333, #483B27);
    display: flex;
    justify-content: center;
    align-items: center;

}

.bloques{
    width: 30%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.bloques > h4{
    font-size: 2rem;
    margin: 0 0 2rem 0;
    font-weight: 100;

}

.bloques > a{
    text-decoration: none;
    color: white;
    padding: 0.2rem 0;
}

.bloques > h3{
  font-weight: 100;
  font-size: 2.6em;
  margin: 0;
}

.bloques > h5{
    margin-top: 2.5rem;
    font-weight: 100;
}

.redes > i{
    font-size: 3rem;
    padding: 0.4em;
}

.linea1{
    background-color: white;
    height: 45%;
    width: 2px;
}
.linea12{
    background-color: white;
    height: 45%;
    width: 2px;
}

.compra{
    background-color: red;
    height: 400px;
    width: 240px;
    position: fixed;
    right: 0;
    display: none;
}

button:focus + .compra{
    display: block;
}

.logo1{
    width: 25rem;
    height: auto;
    padding: 0.5rem;
    transition-property: all;
    transition-duration: 50ms;
}

.logo2{
    display: none;
    width: 25rem;
    height: auto;
    padding: 0.5rem;
    transition-property: all;
    transition-duration: 50ms;
}

button{
    background-color: transparent;
    border: 0;
    transition-property: all;
    transition-duration: 100ms;
}
button i{
    transition-property: all;
    transition-duration: 100ms;  
}
button:hover i{
    color: #D5AC5B;
    font-size: 2rem;
    margin-top: -6px;
}
a{
    transition-property: all;
    transition-duration: 100ms;
}
a:hover{
    text-decoration: underline;
    text-decoration-color: #D5AC5B;
    font-size: 1.3rem;
}

.container{
    width: 100vw;
}

.panel {
    background-color: #D5AC5B;
    width: 23vw;
    height: 27rem;
    position: fixed;
    right: 0;
    margin-right:3rem;
    display: none;
    color: black;
    font-family: 'Montaga', serif;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
}

  .micarito{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #483B27;
  }
.micarito >i{
    margin-right: 1rem;
}

.micarito >h2{
    margin-left: 1rem;
}
  .contenido{
    width: 100%;
    background-color: transparent;
    height: 70%;
    border-bottom: 2px solid #483B27;
    display: flex;
    flex-direction: column;
    align-items: center;
    
     
  }

  .contenido-cont{
    background-color: transparent;
    width: 95%;
    height: 27%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #333333;
    margin: 0.4rem 0;
    padding: 0.1rem;
    
  }
.contenido-cont-img{
    background-color: transparent;
    height: 100%;
    width: 35%;
}
.cont-imagen{
    width: 100%;
    height: 100%;
}
.contenido-cont-text{
    background-color: transparent;
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contenido-cont-text > h3{
    margin: 0;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 0.7rem;
    
}

.contenido-cont-text > h4{
    margin: 0;
    font-size: 1,3rem;
    font-weight: lighter;
    font-family: 'Noto Sans Mono', monospace;
    margin-left: 1.2rem;
    font-weight: 100;
}
.precio-x{
    height:15%;
    width: 85%;
  
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   
}
.precio-x > h5{
    margin: 0;
    font-weight: 500;
}
.precio-x > i{
    font-size: 1rem;
}

  .total{
    background-color: #D5AC5B;
    width: 100%;
    height: 25%; 
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

  .subtotal{
    width: 95%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
  }

.subtotal > h2{
    font-weight: bold;
}

.buttonTramitar{
    background-color: white;
    color: #483B27;
    border: 1px solid #333333;
    width: 85%;
    height: 3rem;
    margin-left: 10%;
    margin-top: 0.7rem;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 100;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function:ease-in-out;
}


.buttonTramitar:hover{
    color: white;
    background: linear-gradient(to right, #333333, #483B27);
}