header{
    background-image: url(../img/panpanaderia.jpg);
    width: 100vw;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6rem;
    font-family: 'Montaga', serif;
    
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header > h1,h2{
    font-weight: lighter;
}



.fa-solid{
  font-size: 1.4rem;
}

section {
    
    height: 820px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

section > .titulo > h1{
    font-weight: 600;
    font-size: 2rem;
}


.contenedores{
    margin-top: 3rem;
    width: 80%;
    height: 75%;
    display:flex;
    
}

.linea{
    
    display: flex;
    justify-content: center;
    background-color: lightgray;
    height: 0.1rem;
   
}

.linea2{
    width: 33%;
    border: 1px solid #D5AC5B;

}

.cont{
    
    height: 100%;
    width: 33.333333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:space-around;
    transition-property: all;
    transition-duration: 100ms;
}

.cont:hover{
    background-color: #D5AC5B;
    color: black;
    height: 110%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-top:-70px;
}
.circulo{
    border: 1px solid black;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
}
.circulo > i{
    color: #483B27;
    font-size: 7rem;
}

.formatoimg{
    width: auto;
    height: 35%;
}

.comentarios{
    width: 100vw;
    height: 700px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.comentarios > h1{
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
}

.comentarios-opiniones{
    width: 90%;
    height: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.coment{
    border: 1px solid black;
    width: 30%;
    height: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition-property: all;
    transition-duration: 100ms;
   
}
.coment:hover{
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-top: -20px;
    width: 33%;
    height: 48%;
    background: linear-gradient(to right, #333333, #483B27);
}
.coment > p{
    width: 90%;
    font-size: 70%;
    font-weight: 400;
    font-family: 'Noto Sans Mono', monospace;
}
.coment > ul li{
    padding:40rem;
}
h3{
    margin: 0;
    text-align: center;
    font-weight: 100;
    font-size: 2em;
}
h3 > i{
    color: #D5AC5B;
}
.usuario{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80%;
    column-gap:0.7rem;
}
.usuario > i{
    font-size: 3rem;
}

.valoracion{
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: .7rem;
    width: 80%;
    
}

.valoracion >i {
    color: #D5AC5B;
}

.usuario > h3{
    margin: 0;
}

.mostrarmas{
    background-color: white;
    color: #333333;
    border: 1px solid #333333;
    width: 10%;
    height: 3rem;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 100;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function:ease-in-out;

}

.mostrarmas:hover{
    background-color: #483B27;
    color: white;
    background: linear-gradient(to right, #333333, #483B27);
    
}


