section{
    background-color: transparent;
    width: 100vw;
    height: 500px;
    margin-top: 5rem;
    padding: 2rem;
    background-color: cyan;
    border-top: 1px solid black;
}

.tarjeta{
    background-color: transparent;
    width: 35%;
    height: 50%;
    margin-top: 2rem;
    border-radius: 2rem;
    border: 1px solid black;
    background-color: violet;
}

.imagen{
width: 25rem;
}

img{
    width: 89%;
    margin-left: 7%;
    margin-top: -5%;
}

.block1{
    background-color: red;
}

.block2{
    background-color: yellow;
}
.block3{
    background-color: blue;
}

.block4{
    background-color: green;
}